# Вы можете настроить ACL на своем nginx для ограничения принимаемого трафика.
# Примеры указаны ниже, лучше определить разрешенные хосты/подсети,
# а остальное заблокировать

# deny 7.7.7.7/32;
# allow 8.8.8.8/32;
# allow 9.9.9.9/32;
# deny all;
