# Удобнее использовать upstream конфигурацию, при частом использование
# одинакового хоста, например Ingress контроллер k8s
# Можно проксировать либо на один хост, либо на несколько

upstream test-1 {
    server 10.10.10.1:80 weight=10;
    server 10.10.10.2:80 weight=10;
    server 10.10.10.3:80 weight=10;
    server 10.10.10.4:80 weight=10;
}
upstream test-2 {
    server 10.10.10.10:80 weight=10;
}
